Você recebeu uma amostra do banco de dados da HW para que possa tratá-la de maneira adequada.

-	Essa é uma amostra da tabela de transações, que será utilizada para futuras análises na HW (transactions.csv). 
-	Além dela, você também tem acesso à tabela de bandeira do cartão (card_brand.csv), com a relação de/para do código com o nome da bandeira. 


Objetivo:

Você deve criar um (ou mais) script (de preferência em Python) para tratar essa base para que a equipe de negócio possa analisá-la com menor esforço possível. 

Você pode fazer todo e qualquer tratamento que achar necessário, como substituição de valores, criação/deleção de colunas, alteração do nome de colunas.

In [86]:
import pandas as pd

In [87]:
transactions = pd.read_csv('transactions.csv', sep=";")

In [88]:
transactions.head()

        id                  created_at  ... card_brand        DOCUMENTO
0  2223391  2021-01-10 00:01:13.555+00  ...      100.0    510574177-567
1  2223371  2021-01-10 00:00:39.953+00  ...      456.0    717355279-706
2  2223376  2021-01-10 00:00:52.936+00  ...      100.0     339057504526
3  2223379  2021-01-10 00:00:56.639+00  ...      100.0              NaN
4  2223397  2021-01-10 00:05:08.929+00  ...      456.0  083.497.797-797

[5 rows x 11 columns]

In [89]:
card_brand = pd.read_csv('card_brand.csv', sep=",")
card_brand

   id  brand_name  brand_code
0   1        visa         100
1   2  mastercard         456
2   3         elo         903
3   4       alelo        1020
4   5      ticket         857
5   6      sodexo        2343
6   7       hiper         392

In [90]:
# Add record to handle NaN values in Transactions data car_brand column
new_row = {'id': 8, 'brand_name': 'None', 'brand_code': 0}
card_brand = card_brand.append(new_row, ignore_index = True)
card_brand

   id  brand_name  brand_code
0   1        visa         100
1   2  mastercard         456
2   3         elo         903
3   4       alelo        1020
4   5      ticket         857
5   6      sodexo        2343
6   7       hiper         392
7   8        None           0

In [91]:
# Create a column to merge transactions and time_dimension
transactions['date'] = pd.to_datetime(transactions['created_at'],infer_datetime_format=True).dt.date

In [92]:
min_date = min(transactions['date'])
max_date = max(transactions['date'])

print(min_date)
print(max_date)

2021-01-10
2021-01-12

In [93]:
def create_date_table(start=f'{min_date}', end=f'{max_date}'):
    df = pd.DataFrame({"date": pd.date_range(start, end)})
    df["week_day"] = df.date.dt.day_name()
    df["day"] = df.date.dt.day
    df["month"] = df.date.dt.month
    df["week"] = df.date.dt.isocalendar().week
    df["quarter"] = df.date.dt.quarter
    df["year"] = df.date.dt.year
    df.insert(0, 'date_id', (df.year.astype(str) + df.month.astype(str).str.zfill(2) + df.day.astype(str).str.zfill(2)).astype(int))
    return df

df_datetime_dimension = create_date_table()

In [94]:
df_datetime_dimension.head()

    date_id       date week_day  day  month  week  quarter  year
0  20210110 2021-01-10   Sunday   10      1     1        1  2021
1  20210111 2021-01-11   Monday   11      1     2        1  2021
2  20210112 2021-01-12  Tuesday   12      1     2        1  2021

In [95]:
transactions['date'] = pd.to_datetime(transactions['date'])
# Fazendo merge do dataframe Fato com a Dimensão Tempo
transactions_time = pd.merge(transactions, df_datetime_dimension, on='date', how='inner')

In [96]:
transactions_time.head()

        id                  created_at  ... quarter  year
0  2223391  2021-01-10 00:01:13.555+00  ...       1  2021
1  2223371  2021-01-10 00:00:39.953+00  ...       1  2021
2  2223376  2021-01-10 00:00:52.936+00  ...       1  2021
3  2223379  2021-01-10 00:00:56.639+00  ...       1  2021
4  2223397  2021-01-10 00:05:08.929+00  ...       1  2021

[5 rows x 19 columns]

In [97]:
# Replace Nan Values in card_brand to Number 0
transactions_time['card_brand'] = transactions_time['card_brand'].fillna(0)

# Merge transactions and time dataframe with card_brand dataframe by card_brand and brand_code
transactions_time_card = pd.merge(transactions_time, card_brand, left_on='card_brand', right_on='brand_code', how='inner')

In [98]:
transactions_time.isnull().sum()

id                   0
created_at           0
merchant_id          0
valor                0
n_PARCELAS           0
Nome_no_Cartao    4449
status               0
card_id              0
iso_id               0
card_brand           0
DOCUMENTO         4565
date                 0
date_id              0
week_day             0
day                  0
month                0
week                 0
quarter              0
year                 0
dtype: int64

In [99]:
transactions_time_card.head()

      id_x                  created_at  ... brand_name  brand_code
0  2223391  2021-01-10 00:01:13.555+00  ...       visa         100
1  2223376  2021-01-10 00:00:52.936+00  ...       visa         100
2  2223379  2021-01-10 00:00:56.639+00  ...       visa         100
3  2223399  2021-01-10 00:05:08.988+00  ...       visa         100
4  2223366  2021-01-10 00:00:09.209+00  ...       visa         100

[5 rows x 22 columns]

In [100]:
# Remove unecessary and sensitive data columns, rename id_x to id, transform column names in lowercase, status, name and brand name to uppercase and valor to float

df_clean_columns = transactions_time_card.drop(['date_id', 'id_y', 'card_brand', 'DOCUMENTO'], axis=1)
df_clean_columns = df_clean_columns.rename(columns={'id_x': 'id'})
df_clean_columns.columns = df_clean_columns.columns.str.lower()
df_clean_columns['nome_no_cartao'] = df_clean_columns['nome_no_cartao'].str.upper()
df_clean_columns['status'] = df_clean_columns['status'].str.upper()
df_clean_columns['brand_name'] = df_clean_columns['brand_name'].str.upper()
df_clean_columns['valor'] = df_clean_columns['valor'].apply(lambda x: format(float(x),".2f"))
df_clean_columns.head()

        id                  created_at  ... brand_name brand_code
0  2223391  2021-01-10 00:01:13.555+00  ...       VISA        100
1  2223376  2021-01-10 00:00:52.936+00  ...       VISA        100
2  2223379  2021-01-10 00:00:56.639+00  ...       VISA        100
3  2223399  2021-01-10 00:05:08.988+00  ...       VISA        100
4  2223366  2021-01-10 00:00:09.209+00  ...       VISA        100

[5 rows x 18 columns]

In [101]:
# Delete sensitive data
del df_clean_columns['nome_no_cartao']

In [102]:
df_clean_columns.head()

        id                  created_at  ... brand_name brand_code
0  2223391  2021-01-10 00:01:13.555+00  ...       VISA        100
1  2223376  2021-01-10 00:00:52.936+00  ...       VISA        100
2  2223379  2021-01-10 00:00:56.639+00  ...       VISA        100
3  2223399  2021-01-10 00:05:08.988+00  ...       VISA        100
4  2223366  2021-01-10 00:00:09.209+00  ...       VISA        100

[5 rows x 17 columns]

In [103]:
!pip install nbconvert

Requirement already satisfied: nbconvert in /usr/local/lib/python3.7/dist-packages (5.6.1)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.7/dist-packages (from nbconvert) (5.1.1)
Requirement already satisfied: testpath in /usr/local/lib/python3.7/dist-packages (from nbconvert) (0.5.0)
Requirement already satisfied: pandocfilters>=1.4.1 in /usr/local/lib/python3.7/dist-packages (from nbconvert) (1.5.0)
Requirement already satisfied: jupyter-core in /usr/local/lib/python3.7/dist-packages (from nbconvert) (4.9.1)
Requirement already satisfied: jinja2>=2.4 in /usr/local/lib/python3.7/dist-packages (from nbconvert) (2.11.3)
Requirement already satisfied: pygments in /usr/local/lib/python3.7/dist-packages (from nbconvert) (2.6.1)
Requirement already satisfied: bleach in /usr/local/lib/python3.7/dist-packages (from nbconvert) (4.1.0)
Requirement already satisfied: nbformat>=4.4 in /usr/local/lib/python3.7/dist-packages (from nbconvert) (5.1.3)
Requirement already satisfied: mistune<2,>=0.8.1 in /usr/local/lib/python3.7/dist-packages (from nbconvert) (0.8.4)
Requirement already satisfied: defusedxml in /usr/local/lib/python3.7/dist-packages (from nbconvert) (0.7.1)
Requirement already satisfied: entrypoints>=0.2.2 in /usr/local/lib/python3.7/dist-packages (from nbconvert) (0.4)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2>=2.4->nbconvert) (2.0.1)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in /usr/local/lib/python3.7/dist-packages (from nbformat>=4.4->nbconvert) (4.3.3)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.7/dist-packages (from nbformat>=4.4->nbconvert) (0.2.0)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in /usr/local/lib/python3.7/dist-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.4->nbconvert) (0.18.1)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.4->nbconvert) (4.11.0)
Requirement already satisfied: attrs>=17.4.0 in /usr/local/lib/python3.7/dist-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.4->nbconvert) (21.4.0)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.4->nbconvert) (3.10.0.2)
Requirement already satisfied: importlib-resources>=1.4.0 in /usr/local/lib/python3.7/dist-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.4->nbconvert) (5.4.0)
Requirement already satisfied: zipp>=3.1.0 in /usr/local/lib/python3.7/dist-packages (from importlib-resources>=1.4.0->jsonschema!=2.5.0,>=2.4->nbformat>=4.4->nbconvert) (3.7.0)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.7/dist-packages (from bleach->nbconvert) (1.15.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from bleach->nbconvert) (21.3)
Requirement already satisfied: webencodings in /usr/local/lib/python3.7/dist-packages (from bleach->nbconvert) (0.5.1)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging->bleach->nbconvert) (3.0.7)